.ul1{
    padding-left: 0rem;
}
.container{
    max-width: 1200px;
}
.bg-tp{
    
    border: 1px solid gray;
    background-color: transparent;
    opacity: 0.6;
    
    
}
.insr{
position: relative;
}
.sr{
position: absolute;
left: 165px;
color: whitesmoke;
opacity: 0.6;
}
.sec1{
    background-image: url(building2.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}


.inbox{
    height: 70px;
    /* background-color: aqua; */
    margin: 15px 0px;
}
.nn{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.nn:hover{
    color: orange;
}
.in1{
    position: relative;
    top: 13px;
}
.inbox2{
    height: 280px;
    /* background-color: aqua; */
    margin: 15px 0px;
}
.color{
    color: orange;
}
.inbox3{
    margin: 15px 5px;
    height: 230px;
    background-color:  rgba(0, 0, 0, 0.452);
    /* opacity: 0.7; */
}
.inbox311{
    margin: 15px;
}
.inbox31{
    width: 70%;
    float: left;
}
.inbox32{
    width: 30%;
    float: left;
}
.icon1{
    color: orange;
    display: inline-block;
    /* border: 1px solid black; */
    padding: 0px 5px;
    margin-top: 10px;


}
.buttun0{
    
}

.buttun{
    border: 1px solid rgb(255, 173, 21);
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5%;
   
}

/* ..............box2............. */

.inbox-box2-1{
height: 600px;
margin: 65px 0px;
}
    

.inbox-box2-2{
/* heighkt: 250px; */

margin: px 0px;
}
hr.class-1 {
    width: 7%;
    height: 10px;
    background-color: orange;
    opacity: 1;
    
}
.inbox-box2-3{
    /* height: 285px; */
    background-color:rgb(248, 242, 242);
    margin: 0px 0px;

}
.inbox-box2-4{

}

/* ...........................box3........................... */
.sec30{
    background-color:rgb(248, 242, 242) ;
}
.inbox-box3-1{
    /* padding-right: 140px; */
}
.para3{
    width: 70%
}
.para-box3{
    text-align: justify;
}
.ul1{
    /* width: 300px; */
}

/* ......................box4......................... */
.inbox-box4-same{
    height: 350px;
    margin: 15px 0px;
}
.bo4{
    text-align: center;
}
.div-3{
    margin: 0px 15px;
}
.inbox-box4-2{
    height: 350px;
    margin: 15px 0px;
}
/* ..........................box5........................... */
.sec2{
    background-image: url(images08.jpg);
    background-size:100% auto ;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}
.inbox-box5-1{
   min-height: 320px;
    margin: 20px 0px;
    /* background-color: aqua; */
}
/* ..........................box6............................ */

.inbox-box6-1 {
 /* background-color: aqua; */
 /* height: 50px; */
 padding: 10px;
}
.box6-cl{
    text-decoration: none;
    color: black;
}
.inbox-box6-1:hover{
    background-color: orange;
    color: white;

}
.headname{
    margin: 0;
    padding: 0;
}
.box6-cl:hover{
    color: white;
}

.inbox-box7-1{
    background-color: rgb(246, 250, 250);
    height: 565px;
    margin: 0px     ;
}
.upper1{
    background-color: rgb(241, 199, 171);
    height: 200px;

}
.upper2{
    color: white; 
    background-color: orange;
    height: 200px;
}
.btn{
    background-color: rgb(241, 199, 171);;
}
.inbox-box8-1{
    background-color: whitesmoke;
    height: 320px;
}
.image4{
    
    
}
.sec3{
    background-image: url(images16.jpg);
    background-size: 100% 100%;
}
.btn5{
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: transparent;
}
.sec4{
    background-color: rgb(236, 236, 236);
}
.con1{
    width: 80%;
}
.if{
    /* font-size: 1.3vw; */
    
}
/* ......................................box-9...................................... */
/* .if1{
    
    width: 365px;
    text-align: justify;

}
.inbox-box9-11{
    
} */





/* ..........................................9...................................... */
.inbox-box9-1{
    height: 300px;
    background-color: white;
    margin: 30px 0px;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    
    
    
}
.inbox-box9-11{
    margin: 11px 28px;
}

.names{
    width: 50%;
}
    .harold-das-img{
        float: left;
    } 
.harold-das{
    float: left;
} 
 .lucifer-das-img{
    float: left;
}  
 .lucifer{
    float:left ;
}
.sec7{
    background-image: url(images19.jpg);
}
.inbox-box10-1{
    height: 260px;
    background-color: white;
    margin: 20px 0px;
}
.inbox-box10-2{
 height: 260px;
 background-color: rgb(235, 163, 31);
 margin: 20px 0px;
 
}
.con10{
    max-width: 1000px;
}




@media (max-width:500px){
    .btn11{
        width: 0%;
    }
    .btn12{
        width: 0%;
    }    
    .btn13{
        width: 0%;
    }

.btn{
    width: 100%;
}
.img1{
    width: 100%;
}
.para3{
    width: 100%;
}
.img2{
    width: 100%;
}
.para4{
    text-align: center;
}
.ul1{
    padding-left: 15%;
}
.bo4{
    text-align: justify;
}

.h5i{
    text-align: center;
}
.inbox-box9-11{
    margin: 0px 15px;
}
}